<div class="row">
    <div id="wall" class="column1" style="background-color:#aaa;">

    </div>
    <div class="column">
        <div style="height: 50px;">

        </div>
        <div>
            <form class="LoginForm">

                <h3 class="loginhead">Login Here..!!</h3>
                <input class="inputstyle" id="uName" type="text" placeholder="UserName"><br>
                <br /><br />
                <input class="inputstyle" id="password" type="password" placeholder="Password"><br>
                <br /><br />
                <div class ="radioStyle">
                    <label for="selectUser">Select User Type : </label>
                    <input type="radio" id="author" name="user" value="Author">
                    <label for="author">Author</label> &nbsp;
                    <input type="radio" id="reader" name="user" value="Reader">
                    <label for="reader">Reader</label>
                </div>
                <input class="submitButton" value="Login " type="button">
            </form>
        </div>
    </div>
</div>